---
const { text } = Astro.props;
---

<a
  href="/works"
  class="inline-flex items-center justify-center min-w-3xs gap-2 whitespace-nowrap px-4 py-2 text-lg font-semibold text-neutral-900 cursor-pointer transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-lime-400 focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 hover:brightness-95 active:brightness-90 bg-lime-400"
>
  {text}
</a>
