---
const currentDate = new Date();
const currentYear = currentDate.getFullYear();
---

<footer>
    <div
        class="container min-h-48 mx-auto px-8 pt-8 pb-16 border-t border-neutral-300"
    >
        &copy; {currentYear} Spectral Textures. All rights reserved.
    </div>
</footer>
